<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explore the LEGO Universe</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">

  <%- include('partials/navbar', {page: '/', theme: ''}) %>
  
  <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome to the LEGO Universe</h1>

          <p class="py-6">Embark on a captivating journey through the vibrant world of LEGO, where creativity knows no bounds.</p>
      
          <a href="/lego/sets" class="btn btn-primary">Begin Your Adventure</a>
        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://images.unsplash.com/photo-1585366119957-e9730b6d0f60?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGVnb3xlbnwwfHwwfHx8MA%3D%3D" alt="Lego set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Gears</h2>
            <p>This set was released in America (USA/CAN) by Samsonite in 1965.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/001-1" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://images.unsplash.com/photo-1587654780291-39c9404d746b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGVnb3xlbnwwfHwwfHx8MA%3D%3D" alt="Lego Set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Nursery Furniture</h2>
            <p>Classic Duplo set - create a nursery for your minis.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/028-1" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/002253963-1.jpg" alt="Lego Set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Legend of Chima: Corbeaux et Gorilles</h2>
            <p>Classic game - released in 1999</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/002253963-1" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
    </div>
</body>

</html>
